.Card {
  height: 470px;
  margin-left: 65%;
  margin-top: 2%;
  width: 400px;
 
  
  }
  
    /* body, html {
      height: 100%;
      }
      .bg {
      background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      } */

      .body{
        height: 100%;
        width: 100%;
        background-size: cover;
        
      }
  
  
  
  
  
  